html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #211d27;
  background-color: #e5e5e5;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-bottom: 24px;
}
.titulo-da-pagina {
  margin-bottom: 24px;
  font-size: 55px;
}
.subtitulo {
  margin-bottom: 80px;
  font-size: 35px;
  font-weight: 400;
  color: #0066cc;
}
.bloco-preto {
  margin-bottom: 82px;
  width: 300px;
  height: 60px;
  background-color: #211d27;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
}
.direito-autoral {
  font-size: 24px;
  color: rgba(128, 127, 131, 0.4);
}
