.body-apple-music {
  font-family: 'Roboto', sans-serif;
  margin: 0 6rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.logo {
  width: 130px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
.container-links {
  display: flex;
}
.container-links span {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 400;
}
.display-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-image img {
  margin-right: 10px;
}
.display-image.sign {
  background-color: #211d27;
  color: white;
  width: 118px;
  height: 41px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-image.sign span {
  font-size: 20px;
  margin: 0;
}
.container-links label {
  position: absolute;
  width: 60px;
  height: 30px;
  border: 2px solid;
  right: 15px;
  top: 72px;
  border-radius: 20px;
}
.container-links label:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  transition: 0.4s;
}
.container-links label.active:before {
  left: 31px;
  background-color: white;
}
body.dark {
  background-color: #211d27;
  color: white;
}
body.dark .container-main .container-infos .page-title {
  color: white;
}
body.dark .container-header .display-image.sign {
  background-color: white;
  color: black;
}

.container-main {
  display: flex;
}
.container-main .container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 14rem;
}
.page-title {
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #211d27;
}
.page-text {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #8c8b8f;
}
.page-button {
  font-size: 22px;
  font-weight: 500;
  color: #f5f5f5;
  background-color: #e6444f;
  width: 194px;
  height: 53px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-footer {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  align-items: center;
}
.open-in-music {
  font-size: 22px;
  font-weight: 300;
  color: #8c8b8f;
  margin-right: 5px;
}
.apple-music {
  margin-right: 5px;
}
.arrow {
  height: 15px;
  width: 15px;
}
